.quizContainer{
        border: 3px solid rgb(66, 73, 97);
        border-radius: 20px;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        width: 1015px;
        height: 2650px;
        margin-top: 3%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #373a4e;
}

.quizContent{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}