.quizContainer{
        border: 3px solid rgb(66, 73, 97);
        border-radius: 20px;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        width: 1015px;
        height: auto;
        margin-top: 3%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #373a4e;
}

.quizContent{
    display: flex;
    justify-content: space-around;
    color: #dfdeee;
}

.questionWrapperBody button{
    color: #cbc9e6;
    background-color: rgb(50, 52, 67);
}